<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Assignment Page</title>
    <link rel="stylesheet" href="/static/assign.css">
</head>
<body>
    <div class="flex">
        <nav>
            <a href="/tindex" class="logo">
                <img src="/static/icon.png" alt="">InsightLearn</a>
            <div class="part1">
                <a href="/tindex">Home</a>
                <a href="#">Classes</a>
                <a href="/timetable">Timetable</a>
                <a href="#">Reports</a>
                <a href="#">Notifications</a>
                <a href="/logout">Logout</a>
            </div>
        </nav>
        <div class="container">
            <div class="row1 flex">
                <h1>Assignment</h1>
            </div>
            <div class="row2">
                <div class="cards">
                    <button class="nav-btn" onclick="navigateTo('/create_assignments')">Create Assignments</button>
                </div>
                <div class="cards">
                    <button class="nav-btn" onclick="navigateTo('/grade_assignments')">Grade Assignments</button>
                </div>
                <div class="cards">
                    <button class="nav-btn" onclick="navigateTo('/ai_feedback')">AI Feedback</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function navigateTo(page) {
            window.location.href = page;
        }
    </script>
</body>
</html>
