<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="page2.css">
</head>

<body>
    <div class="col1">
        <div class="profile">
            <div class="image">
                <img src="Profile1.png" alt="image">
            </div>
            <div class="profile_detail">
                <h1>Student Profile</h1>
                <h3>New York City</h3>
                <div class="box">
                    <div class="c">
                        <h2>Assign</h2>
                        <h3>My Courses</h3>
                    </div>
                    <div class="c">
                        <h2>2</h2>
                        <h3>Followers</h3>
                    </div>
                    <div class="c">
                        <h2>32</h2>
                        <h3>Following</h3>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="main_hd">Leaderboard</h1>
        <div class="leaderboard">
            <div class="leaderboard_box">
                <img src="completed.png" alt="">
                <hr>
                <h4>Completed Courses</h4>
                <h3>3</h3>
            </div>
            <div class="leaderboard_box">
                <img src="time.png" alt="">
                <hr>
                <h4>Hours of Learning</h4>
                <h3>56</h3>
            </div>
            <div class="leaderboard_box">
                <img src="skils.png" alt="">
                <hr>
                <h4>Skills Mastered</h4>
                <h3>7</h3>
            </div>
        </div>
        <h1 class="main_hd">Achievements</h1>
        <div class="achievements">
            <div class="achievement_box">
                <div class="row">
                    <div class="img">
                        <img src="Empty_time.png" alt="">
                    </div>

                    <div class="details">
                        <div class="line1">
                            <h2>Active Learner</h1>
                                <h4>2/3</h4>
                        </div>
                        <div class="line2"></div>
                        <div class="line3">
                            <h3>Maintain Sreak</h3>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="img">
                        <img src="skils.png" alt="">
                    </div>
                    <div class="details">
                        <div class="line1">
                            <h2>Points Earned</h2>
                            <h4>1200/3000</h4>
                        </div>
                        <div class="line2"></div>
                        <div class="line3">
                            <h3>More Points to Go</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col2">
        <div class="dashboard">
            <h1 class="main_hd">Dashboard</h1>
            <div class="col2_box">
                <div class="line">
                    <div class="part1">
                        <img src="Profile2.png" alt="">
                        <h3>Recent Activities</h3>
                    </div>
                    <div class="part2">
                        <button class="icn_btn"><img src="add.png" alt=""><span>Add</span></button>
                        <button class="icn_btn"><img src="mns.png" alt=""><span>Remove</span></button>
                    </div>
                </div>
                <div class="line">
                    <div class="part1">
                        <img src="Profile3.png" alt="">
                        <h3>Recent Activities</h3>
                    </div>
                    <div class="part2">
                        <button class="icn_btn"><img src="add.png" alt=""><span>Add</span></button>
                        <button class="icn_btn"><img src="mns.png" alt=""><span>Remove</span></button>
                    </div>
                </div>
                <hr>
                <button class="Explore">Explore</button>
            </div>
        </div>
        <div class="friends">
            <h1 class="main_hd">Friends</h1>
            <div class="col2_box">
                <div class="line">
                    <div class="part1">
                        <img src="profile4.png" alt="">
                        <h3>Study Buddy</h3>
                    </div>
                    <div class="part2">
                        <button class="prf">Profile</button>
                    </div>
                </div>
                <div class="line">
                    <div class="part1">
                        <img src="Profile5.png" alt="">
                        <h3>Classmate</h3>
                    </div>
                    <div class="part2">
                        <button class="prf">Profile</button>
                    </div>
                </div>
                <hr>
                <button class="Explore">Explore AI</button>
            </div>
        </div>
        <div class="buttons">
            <button class="btn">Find Friends</button>
            <button class="btn">Invite Friends</button>
        </div>
    </div>
</body>

</html>