<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="/static/style4.css">
</head>

<body>
    <nav>
        <div class="part1">
            <a href="/pindex" class="logo">
                <img src="/static/icon.png" alt="">InsightLearn</a>
            <a href="/pdashboard">Dashboard</a>
            <a href="/passignments">Assignments</a>
            <a href="/presources">Resources</a>
            <a href="/pmessages">Messages</a>
            <a href="/pprofile">Profile</a>
        </div>
        <div class="part2">
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="assignments-header">
            <h1>Assignments</h1>
        </div>
        <div class="assignments-content">
            <div class="card">
                <h2>Track Submission Status</h2>
                <button onclick="location.href='/ptrack_submissions'">Track Submissions</button>
            </div>
            <div class="card">
                <h2>View Feedback and Grades</h2>
                <button onclick="location.href='pview_feedback_grades'">View Feedback & Grades</button>
            </div>
        </div>
    </div>
    <button class="chatbot-icon" onclick="location.href='/chatbot'">
        <img src="/static/chatbot.png" alt="Chatbot">
    </button>
</body>

</html>
