<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="/static/style4.css">
</head>

<body>
    <nav>
        <div class="part1">
            <a href="{{ url_for('pindex') }}" class="logo">
                <img src="/static/icon.png" alt="">Insight AI</a>
            <a href="{{ url_for('pdashboard') }}">Dashboard</a>
            <a href="{{ url_for('passignments') }}">Assignments</a>
            <a href="{{ url_for('presources') }}">Resources</a>
            <a href="{{ url_for('pmessages') }}">Messages</a>
            <a href="{{ url_for('pprofile') }}">Profile</a>
        </div>
        <div class="part2">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="assignments-header">
            <h1>Assignments</h1>
        </div>
        <div class="assignments-content">
            <div class="card">
                <h2>Track Submission Status</h2>
                <button onclick="location.href='{{ url_for('ptrack_submissions') }}'">Track Submissions</button>
            </div>
            <div class="card">
                <h2>View Feedback and Grades</h2>
                <button onclick="location.href='{{ url_for('pview_feedback_grades') }}'">View Feedback & Grades</button>
            </div>
        </div>
    </div>
</body>

</html>
