<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style4.css">
</head>

<body>
    <nav>
        <div class="part1">
            <a href="{{ url_for('pindex') }}" class="logo">
                <img src="/static/icon.png" alt="">Insight AI</a>
            <a href="{{ url_for('pdashboard') }}">Dashboard</a>
            <a href="{{ url_for('passignments') }}">Assignments</a>
            <a href="{{ url_for('presources') }}">Resources</a>
            <a href="{{ url_for('pmessages') }}">Messages</a>
            <a href="{{ url_for('pprofile') }}">Profile</a>
        </div>
        <div class="part2">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="row1">
            <h1>Welcome to Insight AI</h1>
            <h2>Parent Login</h2>
            <img src="/static/img.webp" alt="">
        </div>
        <div class="row2">
            <div class="cards flex">
                <h1>Dashboard</h1>
                <button onclick="location.href='{{ url_for('pdashboard') }}'">Go to Dashboard</button>
            </div>
            <div class="cards flex">
                <h1>Assignments</h1>
                <button onclick="location.href='{{ url_for('passignments') }}'">View Assignments</button>
            </div>
            <div class="cards flex">
                <h1>Resources</h1>
                <button onclick="location.href='{{ url_for('presources') }}'">Access Resources</button>
            </div>
        </div>
    </div>
</body>

</html>