<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <div class="part1">
            <a href="#" class="logo">
                <img src="/static/icon.png" alt="Insight AI Logo">Insight AI</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/assignments">Assignments</a>
            <a href="/resources">Resources</a>
            <a href="#">Messages</a>
            <a href="/profile">Profile</a>
        </div>
        <div class="part2">
            <a href="#">Parent Login</a>
        </div>
    </nav>
    <div class="container">
        <div class="row1">
            <h1>Welcome to Insight AI</h1>
            <img src="/static/img.webp" alt="Welcome Image">
        </div>
        <div class="row2">
            <div class="cards flex">
                <h1>Dashboard</h1>
                <button><a href="/dashboard">Go to Dashboard</a></button>
            </div>
            <div class="cards flex">
                <h1>Assignments</h1>
                <button><a href="/assignments">Assignments</a></button>
            </div>
            <div class="cards flex">
                <h1>Resources</h1>
                <button><a href="/resources">Access Resources</a></button>
            </div>
        </div>
    </div>
</body>

</html>
